<a href="https://colab.research.google.com/github/AkramHussainKhan/Python02/blob/main/Python02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basics of List


## ▶ List:

A list is a collection of items in a particular order.In Python, square brackets ([]) indicate a list, and individual elements
in the list are separated by commas.

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

### ▶ Accessing Elements in a List:

Lists are ordered collections, so you can access any element in a list by
telling Python the position, or index, of the item desired. Python considers the first item in a list to be at position 0, not position 1.

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0])
print(bicycles[0].title())

trek
Trek

Python has a special syntax for accessing the last element in a list. By asking
for the item at index -1, Python always returns the last item in the list

In [ ]:
print(bicycles[-1])

specialized

### ▶ Changing, Adding, and Removing Elements:

In [ ]:
##modifying list
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles[0] = 'ducati'
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

In [ ]:
##Append
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

In [ ]:
##Insert
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

In [ ]:
##Deleteing from a list
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

In [ ]:
##pop
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

The pop() method removes the last item in a list, but it lets us work
with that item after removing it.

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
last_owned = motorcycles.pop()
print("The last motorcycle I owned was a " + last_owned.title() + ".")

The last motorcycle I owned was a Suzuki.

We can actually use pop() to remove an item in a list at any position by
including the index of the item you want to remove in parentheses.

In [ ]:
first_owned = motorcycles.pop(0)
print('The first motorcycle I owned was a ' + first_owned.title() + '.')

The first motorcycle I owned was a Honda.

In [ ]:
#Remove method
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
motorcycles.remove('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

The `remove()` method deletes only the first occurrence of the value you specify.
###  ▶ Sorting List:

In [ ]:
#sorting a list
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

The `sort()` method, changes the order of the list perma-
nently. The cars are now in alphabetical order, and we can never revert to
the original order.

In [ ]:
##In reverse order
cars.sort(reverse=True)
print(cars)
#Reverse method
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.reverse()
print(cars)

['toyota', 'subaru', 'bmw', 'audi']
['subaru', 'toyota', 'audi', 'bmw']

> **Reverse does not change list alphabetically, it changes chronological order.**

We can sorti a list temporarily with the `sorted()` function.
To maintain the original order of a list but present it in a sorted order, we
can use the `sorted()` function. The sorted() function lets us display our list
in a particular order but doesn’t affect the actual order of the list.

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print("Here is the original list:")
print(cars)
print("Here is the sorted list:")
print(sorted(cars))
print("Here is the original list again:")
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']
Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']
Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

Using `len` we can find the number of items in a list

In [ ]:
len(cars)

4

### ▶:Index error:

An index error means Python can’t figure out the index you requested.One type of error is common to see when you’re working with lists for the
first time.Because of the off-by-one
nature of indexing in lists, this error is typical. People think the third item
is item number 3, because they start counting at 1. But in Python the third
item is number 2, because it starts indexing at 0.

## ▶ More List examples:

In [ ]:
##Concat
A = [1,2,3,4]
B = [6,7,8,9]
print(A+B)

[1, 2, 3, 4, 6, 7, 8, 9]

In [ ]:
#Append
A.append(B)
print(A)

[1, 2, 3, 4, [6, 7, 8, 9]]

In [ ]:
##Extend
A = [1,2,3,4]
A.extend(B)
print(A)

[1, 2, 3, 4, 6, 7, 8, 9]

There is difference in `append` and `extend`. We can see that in `append` it add the whole list (B) in A. But in `extend` it took the item of the list(B) and add to A.

In [ ]:
##iterate
A = [1,2,3,4]
print(A*3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
#index
print(A.index(4))

3

Here it gives us the index of first occurences of 4. <br>
We can make a copy of list also.

In [ ]:
A_copy = A.copy()
print(A_copy)

[1, 2, 3, 4]

## ▶ Summary:

In this chapter you learned what lists are and how to work with the indi-
vidual items in a list.